<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Posadas Puerto Paraiso. Tres destinos difrerenentes, para pesca deportiva, en lo mejor del alto Paran치."
    />
    <meta name="viewport" content="width=device-width, intial-scale=1.0" />
    <meta property="og:url" content="https://www.posadaspuertoparaiso.com.ar" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Posadas Puerto Paraiso" />
    <meta
      property="og:description"
      content="Tres destinos difrerenentes, para pesca deportiva, en lo mejor del alto Paran치."
    />
    <meta property="og:image" content="" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,300;0,400;0,600;1,100&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.6.1/font/bootstrap-icons.css"
    />
    <link rel="shortcut icon" href="img/favicon.png" type="image/x-icon" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>PPP - Admin</title>
  </head>

  <body>
    <div class="form-container">
      <h1 class="adminTitle">Carga de nuevas Posadas</h1>

      <form class="adminForm">
        <input
          type="text"
          placeholder="Ingrese el nombre de la Posada"
          name="name"
        />

        <input
          type="text"
          placeholder="Ingrese una url de ubicaci칩n de google maps"
          name="location"
        />

        <input
          type="text"
          placeholder="Ingrese una descripcion breve"
          name="shortdescription"
          maxlength="120"
        />

        <textarea
          name="description"
          id=""
          cols="30"
          rows="10"
          placeholder="Agrega la descripci칩n de la Posada."
          maxlength="580"
        ></textarea>

        <label
          >Posada Destacada
          <input type="checkbox" name="prominent" />
        </label>

        <input type="submit" value="CARGAR" />
      </form>
    </div>

    <h2 class="adminTitle">LISTADO DE POSADAS</h2>

    <div class="posadas-admin-container">
      <% posadas.forEach (posada => { %>
      
        <div class="posada-admin" >
          <form class="posadas-admin-form">
            <h4>Name</h4>
            <input type="text" name="name" value="<%= posada.name %>" />
            <h4>Location</h4>
            <input name="location" value="<%= posada.location %>"></input>
            <h4>Short Description</h4>
            <textarea name="shortdescription" cols="30" rows="5" maxlength="120"><%= posada.shortdescription%></textarea>
            <h4>Description</h4>
            <textarea name="description" cols="30" rows="10" maxlength="500"><%= posada.description %></textarea>
            <h4>ID</h4>
            <input type="text" name="id" value="<%= posada._id %>" disabled />
            <input type="submit" value="EDITAR" class="editar-posada">
          </form>
       
          
            <button type="submit" value="<%= posada._id %>" class="eliminar-posada">ELIMINAR</button>

        </div>

        
        
      <% }) %>
    </div>

    <script type="text/javascript" src="/js/admin.js"></script>
  </body>
</html>
